@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #fff;
}

body {
    width: 100vw;
    height: auto;
    background: #007fc7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow-x: hidden;
}

h1 {
    margin: 10px auto;
    text-align: center;
}

p {
    width: 350px;
    margin: 30px 0;
}

div {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
}

.container {
    width: 1000px;
    padding: 10px;
    margin: 100px;
    border-radius: 15px;
    background: #fff;

    position: sticky;
    top: 0;
    z-index: 100;
}

p span {
    color: #00fc70;
}

.container p.p2 {
    position: absolute;
    right: 10px;
    bottom: 100px;
}