@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 920px;
    padding: 5px;
}

.clear {
    clear: both;
}

.noticia {
    width: 280px;
    margin: 5px;
    padding: 5px;
    background: #e5e5e5;

    float: left;
}

.img {
    width: 265px;
    padding: 5px;
    margin: 15px;
    background: #fff;

    float: left;
    text-align: center;
}